.header-top {
    background: #538cc6 url(../images/background/layer-1.png) left bottom repeat-x;
}

.main-header .logo-outer {
    padding: 0 0 20px 0;
}

/* .main-header .header-upper {
    border-bottom: 1px solid #538cc6;
} */

.main-menu .navigation>li>a { 
    padding: 40px 0px 38px 0px
}

.featured-section {
    background: #ebf2f8 url(../images/background/pattern-4.png) left bottom repeat-x;
}
.featured-block {
    margin-bottom: 0;
}

.news-section {
    background: #ebf2f8 url(../images/background/pattern-4.png) repeat;
}

.featured-block .inner-box .content .text {
    text-transform: none;
}

.welcome-section {
    padding: 20px 0;
}

.home-dog-img {
    max-width: 150px;
    max-height: 150px;
}

/*dogs for adoption*/
.services-section {
    padding: 40px 0 40px 0;
}
.services-block .inner-box .content {
    padding-left: 180px;
}
.services-block .inner-box {
    padding: 20px;
    height: 200px;
}

/*contact form*/
.appointment-section {
    background: none;
    padding: 40px 0 20px 0;
}
.default-form {
    margin-bottom: 0;
}

.main-footer .footer-bottom {
    border-top: none;
}

.default-form .form-box .form-group input[type="text"] {
    border: 1px solid black;
}
.default-form .form-box .form-group input[type="email"] {
    border: 1px solid black;
}
.default-form .form-box .form-group textarea {
    border: 1px solid black;
}

/* .main-footer {
    border-top: 1px solid #538cc6;
} */