.header-top {
    background: #538cc6 url(../images/background/layer-1.png) left bottom repeat-x;
}

.main-header .logo-outer {
    padding: 0 0 20px 0;
}

/*when wide, make logo horizontal with desktop menu and mobile menu*/
.main-header .header-upper .pull-right {
    width: auto;
}
.header-upper .logo-outer {
    width: auto
}

@media only screen and (max-width: 767px) {
    /*when mobile, hide desktop  menu*/
    .menu {
        display:none;
    }
    /*whem mobile, add some padding below donate and social media icons*/
    .header-top {
        padding: 8px 0 25px;
    }
}


/*when wide, hide mobile menu*/
@media only screen and (min-width: 767px) {
    .main-menu .navbar-header {
        display: none;
    }
    .navbar-collapse.collapse{
        display: none !important;

    }
}

/*hamburger background*/
@media only screen and (max-width: 767px) {
    .main-menu .navbar-header .navbar-toggle {
        background: #538cc6;
        border: 1px solid #538cc6;
        margin-top: 10px;
    }
}

/*dropdown menu*/
.navbar-collapse {
    width: 100%;
}
.navbar-collapse > .navigation > li {
    background-color: #538cc6;
    padding: 10px 10px;
    border-top: 1px solid white;
}
.navbar-collapse > .navigation > li:first-child {
    border: none;
}
.navbar-collapse > .navigation > li > a {
    padding-left: 10px;
    line-height: 22px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}


/*featured post section*/
.welcome-section {
    padding: 20px 0;
}

/*adopt, sponsor, donate section*/
.featured-section {
    background: #ebf2f8 url(../images/background/pattern-4.png) left bottom repeat-x;
}
.featured-block {
    margin-bottom: 0;
}

/*blog section*/
.news-section {
    background: #ebf2f8 url(../images/background/pattern-4.png) repeat;
}
.featured-block .inner-box .content .text {
    text-transform: none;
}
.home-dog-img {
    max-width: 150px;
    max-height: 150px;
}

/*dogs for adoption*/
.services-section {
    padding: 40px 0 40px 0;
}
.services-block .inner-box .content {
    padding-left: 180px;
}
 .services-block .inner-box {
    padding: 20px;
} 

/*contact form*/
.appointment-section {
    background: none;
    padding: 40px 0 20px 0;
}
.default-form {
    margin-bottom: 0;
}
.default-form .form-box .form-group input[type="text"] {
    border: 1px solid black;
}
.default-form .form-box .form-group input[type="email"] {
    border: 1px solid black;
}
.default-form .form-box .form-group textarea {
    border: 1px solid black;
}

/*footer*/
.main-footer .footer-bottom {
    border-top: none;
}

.btn-style-two {
    background-color: #538cc6;
    border: 2px solid #538cc6;
}

/***BLOG***/
.blog-page-section {
    padding: 20px 0;
}
.pagination {
    margin-bottom: 40px;
}
.news-block-two{
    margin-bottom: 40px;
}

/***ADOPT***/
.btn-view {
    margin-top: 10px;
}
.product-heading {
    border-bottom: none;
}
.product-heading h2 {
    padding-bottom: 0;
}
.adopt-desc {
    margin-top: 10px;
}